.remove {
	color: red;
	cursor: pointer;
	font-size: 11px;
	margin-left: 20px;
}

.edit {
	color: blue;
	cursor: pointer;
	font-size: 11px;
	margin-left: 10px;
}

input[type="text"] {
margin-bottom: 2px;
width: 300px;
}
select {
height: 28px;
margin-bottom: 3px;
padding-top: 5px;
}

.grab {
	color: green;
	cursor: pointer;
	font-size: 11px;
	margin-left: 10px;
}