html, body {
    background-color: #FFFFFF;
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
}
body, input, select, textarea, button {
    color: #2C3E49;
    font-size: 11px;
}
a:link, a:visited, a:hover, a:active {
    color: #043FA0;
    text-decoration: underline;
}
a:hover {
    color: #2863C2;
    text-decoration: underline;
}
h1 {
    color: #617683;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
    padding: 0;
}
form {
    margin: 0;
}
table, img {
    border: 0 none;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
.clearing {
    clear: both;
    font-size: 0;
    height: 0;
}
.valign-middle {
    height: 100%;
    vertical-align: middle;
}
.valign-middle-adv-lvl1 {
    display: table;
    height: 100%;
}
.valign-middle-adv-lvl2 {
    display: table-cell;
    vertical-align: middle;
}
.valign-middle-adv-lvl3 {
}
.halign-center-noscript, .halign-center {
    display: table;
    margin: 0 auto;
    text-align: center;
}
.center {
    text-align: center;
}
.right-box {
    text-align: right;
    width: 100%;
}
.text-block {
    margin-bottom: -32px;
    margin-left: 8px;
}
.text-pre-block {
    margin-top: 15px;
}
.nowrap {
    white-space: nowrap;
}
.width-100 {
    width: 100%;
}
.page-break {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    page-break-after: always;
}
.pointer {
    cursor: pointer;
}
.overflow {
    margin-right: 20px;
    overflow: auto;
    padding-bottom: 20px;
    position: relative;
}
.hidden {
    display: none;
}
label {
    line-height: 15px;
    vertical-align: bottom;
}
label input {
    margin: 0;
    vertical-align: bottom;
}
label.input-block {
    line-height: 21px;
    vertical-align: middle;
}
label.input-block input, label.input-block select {
    vertical-align: middle;
}
label.input-row, .input-row label {
    float: left;
    padding-right: 20px;
}
.plain-box {
    display: block;
    padding-bottom: 15px;
}
.plain-box .label-title {
    display: block;
}
.default-value {
    color: #AAAAAA;
}
.underline {
    text-decoration: underline;
}
.dotted {
    border-bottom: 1px dotted #888888;
    text-decoration: none !important;
}
.toggle-link {
    padding-right: 15px;
}
.cursor-hover:hover {
    border: 1px solid #1A478F !important;
}
input[type="text"], input[type="password"], select, textarea, .input-style {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border: 1px solid #999999;
}
.error-message {
    color: #B51A00;
}
select.err, input.err, textarea.err {
    background-color: #F7F3F3;
    border: 1px solid #B51A00;
}
div.error-message {
    margin: 0 0 15px;
}
.form-text {
    color: #112536;
    font-weight: bold;
}
.black-text {
    color: #000000;
}
a.list-item:link, .list-item a:link {
    color: #043FA0;
    text-decoration: none;
}
a.list-item:visited, .list-item a:visited {
    color: #043FA0;
    text-decoration: none;
}
a.list-item:hover, .list-item a:hover {
    color: #2863C2;
    text-decoration: underline;
}
a.list-item:active, .list-item a:active {
    color: #043FA0;
    text-decoration: none;
}
tr.head-row th {
    background: none repeat scroll 0 0 #CCCCCC;
    font-weight: bold;
}
tr.highlight td, tr.highlight th, li.highlight {
}
tr.center-row th {
    text-align: center;
}
div.ajax-popup-error-message {
    display: none;
    margin: 10px 0;
    padding: 0 5px;
}
div.ajax-popup-error-message span {
    float: left;
    margin: 0 10px 0 3px;
}
.currency {
    white-space: nowrap;
}
input.datepicker-formatted {
    border: 1px solid #BBBBBB;
    margin-right: 5px;
}
input.datepicker-formatted[disabled] {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #BBBBBB;
}
input.zipcode {
    width: 100px;
}
input.zip4 {
    width: 60px;
}
span.validate-mark {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
span.validate-mark img {
    height: 15px;
    margin-left: 3px;
    width: 15px;
}
span.validate-matched img {
    background: url("../../skin/common_files/css/../images/icon_ok.png") no-repeat scroll left top transparent;
}
span.validate-non-matched img {
    background: url("../../skin/common_files/css/../images/icon_nok.png") no-repeat scroll left top transparent;
}
#page-container {
    min-height: 100%;
    position: relative;
}
#content-container {
    clear: both;
    float: left;
    margin-top: 140px;
    overflow: hidden;
    padding-bottom: 39px;
    position: relative;
    width: 100%;
}
#content-container2 {
    float: left;
    position: relative;
    right: 100%;
    width: 200%;
}
#center {
    float: left;
    left: 50%;
    position: relative;
    width: 50%;
}
#left-bar {
    float: left;
    margin-left: 7px;
    position: relative;
    width: 160px;
}
#right-bar {
    float: right;
    position: relative;
    right: 7px;
    width: 160px;
}
#center-main {
    margin: 0 187px;
    overflow: hidden;
    position: relative;
}
#header {
    height: 140px;
    left: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
}
#footer {
    bottom: 0;
    float: left;
    height: 39px;
    overflow: hidden;
    position: absolute !important;
    width: 100%;
}
span.star {
    color: #880000;
    padding-left: 5px;
}
.totals {
    margin: 0 0 0 auto;
    text-align: right;
    width: 30%;
}
.totals td {
    padding: 3px;
}
.totals .total-name {
    color: #112536;
    font-weight: bold;
    padding-right: 8px;
    text-align: left;
    white-space: nowrap;
}
.totals .total-value {
    color: #B51A00;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}
fieldset.registerform {
    border: 0 none;
    margin: 0;
    padding: 0;
}

fieldset.registerform ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
fieldset.registerform ul {
    background: none repeat scroll 0 0 #F5F5F5;
    margin: 0;
    padding: 0 15px;
    position: relative;
}
fieldset.registerform ul.first {
    padding-top: 15px;
}
fieldset.registerform ul li {
    padding-bottom: 10px;
}
fieldset.registerform ul li.clearing {
    margin: 0;
    padding: 0;
}
fieldset.registerform ul li.fields-group {
    float: left;
    margin-right: 10px;
}
fieldset.registerform ul li.fields-group input[type="text"], fieldset.registerform ul li.fields-group input[type="password"] {
    width: 90px;
}
fieldset.registerform ul li.single-field {
    clear: both;
    float: none;
}
fieldset.registerform ul li.single-field input[type="text"], fieldset.registerform ul li.single-field input[type="password"] {
    width: 80%;
}
div.cart-totals {
    margin: 10px 0;
    padding: 0;
}
div.cart table.totals {
    margin: 0 0 0 auto;
    text-align: right;
    width: 30%;
}
table.totals tr td.total, table.totals tr td.total-name, table.totals tr td.total-value, table.totals tr td.total-value-alt, table.totals span.total-name {
    font-size: 12px;
    font-weight: bold;
    padding: 15px 5px 5px 0;
    text-transform: none;
    vertical-align: top;
}
#payment_summary table.totals {
    text-align: left;
    width: 100%;
}
#payment_summary table.totals tr td.total, #payment_summary table.totals tr td.total-name, #payment_summary table.totals tr td.total-value, #payment_summary table.totals tr td.total-value-alt, #payment_summary table.totals span.total-name {
    font-weight: normal;
    width: 15%;
}
#payment_summary table.totals tr td.total, #payment_summary table.totals tr td.total-name {
    width: 70%;
}
table.totals tr td.discounted {
    color: #01851A;
}
table.totals tr.total td.total-name {
    font-size: 22px;
}
table.totals tr.total td.total-value {
    font-size: 22px;
}
table.totals tr.total td.total-value-alt {
    font-size: 12px;
    vertical-align: bottom;
}
table.cart-content tr td {
    border-bottom: 1px solid #888888;
    font-size: 10px;
    font-weight: normal;
    padding: 10px 5px;
    vertical-align: top;
}
table.cart-content .cart-content-text {
    color: #2C3E49;
    font-weight: normal;
}
div#order-taxes-box {
    padding: 10px 5px;
}
div.checkout-customer-notes, div.checkout-partner, div.terms_n_conditions {
    padding: 10px 0;
}
div.terms_n_conditions {
    text-align: center;
}
div.terms_n_conditions label {
    font-size: 13px;
}
.place-order-button button.inactive {
    cursor: default;
    opacity: 0.3;
}
div.paypal-express-sel-note {
    padding: 0 10px;
}
html, body {
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: center;
}
body, input, select, textarea, button {
    font-size: 12px;
}
td.wl-buynow table.SimpleButton tbody tr td a.simple-button, div.chk-button a, div#btn_box.button-row div.halign-center button.button span.button-right span.button-left, div.details div#tabpanel div.panes, #login, #create-profile, .serif-font, h1, h2, .detail-page-buttons button.button .button-left, #row2 h3, #order-message-wrapper, .register-section-title label, #faq-static, #return-static, #shipping-static, #contact-static, #concierge-page, #legal-static {
    /*font-family: Georgia,Times,"Times New Roman",serif;*/
}
h1 {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    color: #009EE0;
}
fieldset.registerform ul {
    background: none repeat scroll 0 0 #FFFFFF;
}
#payment_totals, div.checkout-customer-notes {
    padding: 0 15px;
}
div.checkout-customer-notes {
border-top: 1px solid #C0C0C0;
margin-top: 15px;
padding: 10px 0 0;
}
div#payment_totals {
margin: 0 15px 15px;
padding: 0;
}
fieldset.registerform ul li.single-field input[type="text"], fieldset.registerform ul li.single-field input[type="password"] {
    width: 95%;
}
#header {
    float: left;
    height: auto;
}
#footer {
    bottom: 0;
    float: left;
    height: 195px;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative !important;
    width: 100%;
}
.circle {
  background: none repeat scroll 0 0 black;
  border-radius: 50% 50% 50% 50%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  height: 23px;
  line-height: 23px;
  margin-right: 10px;
  text-align: center;
  width: 23px;
}
.payment-section h2, .payment-section h3 {
border-bottom: 3px solid #000000;
color: #000000;
font-size: 14px;
font-weight: bold;
margin-bottom: 0;
padding-bottom: 10px;
text-transform: uppercase;
}
