html,body { height: 100%; margin: 0px; }
body { color: rgb(51, 51, 51); font: 13px/18px Arial,Tahoma,Geneva,sans-serif; }
.gradients { }
#header { 
background-image: url("images/banner.jpg");
background-position: 0 -16px;
background-repeat: no-repeat;
float: left;
height: 145px;
position: relative;
width: 100%;
}
#header #slogan {
bottom: 1px;
font-size: 13px;
font-weight: bold;
left: 0;
position: absolute;
}

#slogan marquee{
width: 960px;
}
#header #navigation {
font-size: 14px;
font-style: italic;
position: absolute;
right: 10px;
bottom: 35px;
}
#header #navigation a{
color: #ffffff;
}
#header #navigation .menu{
color: #56585A;
display: block;
float: left;
width: 72px;
}

#header #navigation a:hover{
font-weight: bold;
margin: 0px;
font-size: 14px;
color: #FFC000;
}

#main { display: inline-block; margin-left: 0px; padding-bottom: 10px; width: 960px; }
#page { position: relative; }
#footer {
background-image: url("images/footer.jpg");
background-repeat: no-repeat;
display: block;
float: left;
height: 102px;
margin-top: 9px;
position: relative;
width: 100%;
}
#left_col { 
background-color: #E0E1E2;
display: block;
float: left;
height: 1303px;
position: relative;
width: 176px;
background-image: url("images/wg_bottom.jpg");
background-repeat: no-repeat;
background-position: center bottom;
}
#right_col{ 
background-color: #E0E1E2;
display: block;
float: right;
position: relative;
width: 176px;
background-image: url("images/wg_bottom.jpg");
background-repeat: no-repeat;
background-position: center bottom;
padding-bottom: 9px;
}
ol,ul { list-style: none outside none; }
.small_box_container { background-color: rgb(255, 255, 255); display: block; float: left; /*margin-bottom: 10px;*/ min-height: 50px; position: relative; width: 176px; }
.small_box_container div.header { background-image: url("images/wg_top.jpg"); background-repeat: no-repeat; display: block; height: 7px; /*margin-top: 1px; */padding-left: 5px; }
.small_box_container div.footer {
/*background-image: url("images/wg_bottom.jpg");
background-repeat: no-repeat;*/
background-color: #E0E1E2;
display: block;
float: left;
height: 22px;
width: 100%;
}
.small_box_container div.header-menu { background-image: url("images/wg_top_menu.jpg"); background-repeat: no-repeat; display: block; height: 7px; /*margin-top: 1px; */padding-left: 5px;
}
.small_box_container h3.title-menu { 
background-color: #6F7075;
border-bottom: 1px solid #CACACA;
background-image: none;
/*border-left: 1px solid #CACACA;
border-right: 1px solid #CACACA;*/
color: #FFFFFF;
font-family: tahoma;
font-style: tahoma;
height: 25px;
margin: 0;
padding: 0;
}
.small_box_container h3 { 
/*background-color: #6F7075;
border-bottom: 1px solid #CACACA;
border-left: 1px solid #CACACA;
border-right: 1px solid #CACACA;*/
background-image: url("images/wg_body.jpg");
background-repeat: no-repeat;
color: #FFFFFF;
font-family: tahoma;
font-style: tahoma;
height: 25px;
margin: 0;
padding: 0;
}
.small_box_container div.content { 
background-color: #E0E1E2;
/*border-left: 1px solid #B4B6B9;
border-right: 1px solid #B4B6B9;*/
display: block;
float: left;
width: 100%;
}
a { color: navy; outline: medium none; text-decoration: none; }
a:hover {
    color: #EEB10D;
}
img { border: medium none; }
#content {
  display: block;
  float: left;
  width: 100%;
}
#center {
display: block;
float: left;
padding-left: 5px;
width: 590px;
}
#center h3 {
background-image: url("images/bg_center_title.jpg");
background-repeat: no-repeat;
color: #FFFFFF;
font-size: 15px;
font-style: italic;
margin-top: 3px;
padding: 15px 5px 5px 5px;
text-align: left;
padding-left: 30px;
height: 19px;
}
#center h1 {
font-size: 15px;
margin: 3px;
text-align: left;
}
.phone {
color: #D47316;
display: block;
font-size: 14px;
font-weight: bold;
}
ul#menu{margin:0px;padding:0px;list-style:none;margin-top:20px;}
ul#menu, ul#menu ul {font-weight: bold;
list-style-type: none;
margin: 0;
padding: 0;}
ul#menu a { display: block; text-decoration: none;	}
ul#menu li { 
margin-top: 1px;
text-align: left;
}

ul#menu li a {
border-bottom: 1px solid #BBBBBB;
color: #fff;
padding: 8px 10px 8px 15px;
background-color:#6E6F72;
background-repeat:no-repeat;
background-position:0 -8px;
background-image: url("images/arrow1.jpg");
}
ul#menu li a.active {
background-image: url("images/arrow2.jpg");
background-position: 0 -7px;
}
ul#menu  li > ul > li {
}
ul#menu li a:hover { }
ul#menu li ul li a { 
background: url("images/arrow1.jpg") no-repeat scroll 0 -8px #C9CBCD;
border-bottom: medium none;
color: #000000;
height: 17px;
margin-bottom: 4px;
margin-top: 2px;
}
ul#menu li ul li a:hover { 
background-color: #eee
}

.product_item {
display: block;
float: left;
height: 185px;
width: 185px;
margin-left: 8px;
/*margin-left: 5px;
margin-right: 3px;*/
}

.detail-link {
  background-image: url("images/chitiet.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 18px;
  margin-left: 10px;
  margin-top: 4px;
  padding: 0 0 0 7px;
  width: 60px;
}

.detail-link:hover{
text-decoration: underline;
}

.product_item .title {
display: block;
font-size: 12px;
font-weight: bold;
padding-bottom: 3px;
padding-top: 10px;
}
.article_item {
border-bottom: 1px dashed #BBBBBB;
display: block;
float: left;
height: 143px;
margin-top: 10px;
position: relative;
text-align: left;
width: 98%;
}
.article_item .title {
display: block;
float: left;
font-size: 13px;
font-weight: bold;
padding-bottom: 3px;
padding-left: 140px;
position: absolute;
top: 0;
}
.article_item img {
border: 1px solid #BBBBBB;
padding: 2px;
}
.product_item img {
}
.paging {
  display: block;
  float: left;
  width: 100%;
}
.paging .page-numbers {
margin: 5px;
}
.color-red {
  color: #AC0404;
}
.font-bigger {
  font-size: 1.6em;
  font-weight: bold;
}
.font-normal {
  font-size: 1em;
  font-weight: bold;
}
.vnd {
color: #AC0404;text-decoration: underline;font-size:14px;font-weight: bold;
}
#more_detail {
float: left;
text-align: justify;
width: 560px;
padding-left: 10px;

}
.wraptocenter {
background-color: #FFFFFF;
border: 1px solid #BBBBBB;
display: table-cell;
height: 132px;
padding-top: 4px;
text-align: center;
vertical-align: middle;
width: 165px;
}

#wpcontent_slider_container {
  border: 3px solid #B6B8BA;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
}
.wraptocenter2 {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  display: table-cell;
  height: 120px;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
  width: 160px;
}
#similar_products {
display: block;
float: left;
margin-top: 20px;
width: 100%;
}
#header a#logo {
display: block;
height: 82px;
left: 44px;
position: absolute;
top: 18px;
width: 271px;
}